<h1>About Pinternet</h1>
<p>Hi! This is <a href="https://www.linkedin.com/in/gabrieleoconnor">Gabi O'Connor</a>. Pinternet is an application I built as part of the <a href="http://onemonthrails.com">One Month Rails</a> program. Next up is... Evil Pinternet (coming soon)!</p>

<p>If you notice any bugs, shoot me an <a href="mailto:oconnor.gabriele@gmail.com">e-mail</a>! </p>