<div class="panel panel-default">
<div id="fb-root"></div>
	
	<div class="panel-body">
		<div class="row">
  			<div class="col-md-3">
  				<img src="https://s3.amazonaws.com/pinternet/gabi-kitties.jpg" class="img-rounded left-block" width="200" alt="Responsive image">
  			</div>
  			
  			<div class="col-md-9">
  				<h3>About Pinternet</h3>
  				<p>Hi! This is Gabi O'Connor. I like whiskey, comedy and kittens (obviously). I also like learning software development.</p>
  				<p>
  					I'm currently learning Ruby on Rails. Pinternet is a blatant Pinterest knock-off I built as part of the <a href="http://onemonthrails.com">One Month Rails</a> course.
  				</p>
  				<p>
  					Check out my Github repo <a href="https://github.com/GabiOC/Good-Pintentions">here</a> or just say hi to me <a href="https://www.facebook.com/gabi.oconnor">on Facebook</a>!
  				</p>
  			</div>
	
		</div>

	</div>
	
</div>